:root
{
     --vermelho: #E50914;
     --preto:#141414;
     --cinza: #a5a5a5;
     --azul-claro: #5ea8f3;
     --azul-medio: #0373e4;
     --branco: white;
     --sombra: rgba(0, 0, 0, 0.4);
}

*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.claroTexto::after
{
    content: 'Claro';
}
.claro
{
    background: var(--branco);
}
nav
{
    display: flex;
    align-items: center;
}

body, a
{
     font-family: Arial, Helvetica, sans-serif;
     background: var(--preto);
     color: var(--branco);
}

header .container
{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}

.logo
{
    font-family: "Arial Black",Arial, Helvetica;
    font-size: 40px;
    margin-left: 10px;
    color: var(--vermelho);
}

label
{
    cursor: pointer;
}

header nav a, label
{
     text-decoration: none;
     margin-right: 10px;
}


header nav a:hover, label:hover
{
     color: var(--cinza);
}